*{
    text-align: center;
}

h1, h2{
    font-family: 'Bebas Neue', cursive;
}

.chunk{
    display: grid;
    border-style: 1px solid black;
}

.image{
    height: 100px;
    width: 100px;
    background-color: gray;
}